.row{
    padding: 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.subject-card{
    border-radius: 1rem;
     max-width: 40%;
    background-color: rgb(255 255 255/95%);
}

.left{
    justify-content: flex-start;
}

.form-input{
  justify-content: center;
}

h1{
  margin-left: 50px;
  color: #005ce6;
}

.right{
    justify-content: flex-end;
}

  /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

